.tech {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* text-align: left; */
  align-content: center;
  background-color: #ebdef7;
  /* padding: 10vh 15%; */
  border-radius: 5%;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/* progress : linear-gradient(89deg, #c0c0e9 90%, #e9eced 90%) */
.skill-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(44, 23, 56);
  background: linear-gradient(89deg, #edebf0 0%, #cbcdf0 90%);
  padding: 0.5em;
  height: 4rem;
  /* width: 10%; */
  font-size: 1rem;
  font-weight: 500;
  /* box-shadow: inset 0 3px 6px rgb(76 80 177), 0 4px 6px rgb(79 98 221 / 45%); */
  border-radius: 10px;
}
h4 {
  width: 70%;
}
svg {
  height: 2em;
  width: 2em;
}

.core-stack,
.tools-stack,
.skills-stack {
  /* display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */

  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 2em;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 5%;
  padding-top: 7vh;

  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
}
.stack-items {
  display: flex;
  flex-direction: row;
  flex: 2 1 auto;
}
@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
